<div class="container">
  <p class="h1 text-center">Ecco i nostri malati</p>
  <div class="row summoner-card">
    <div class="col-2">
      {{info[0].summonerName}}
    </div>
    <div class="col-7">
      <p class="details"> LP : {{info[0].leaguePoints}}</p>
      <p class="details">Vittorie : {{info[0].wins}}</p>
      <p class="details">Sconfitte : {{info[0].losses}}</p>
    </div>
    <div class="col-3">
      <img [srcset]="imgSrc"  class="tier-icon" alt="">
      {{info[0].rank}}
      {{info[0].tier}}
    </div>
  </div>
</div>
